<section>
  <h1>Login story - Fake Database</h1>
  <p>Connect with <span class="connect_info">user:user</span></p>
</section>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input matInput formControlName="username" />
    <mat-icon matSuffix>person</mat-icon>

    <mat-error
      *ngIf="
        loginForm.controls.username?.invalid &&
        (loginForm.controls.username?.dirty ||
          loginForm.controls.username?.touched)
      "
    >
      Username is required.
    </mat-error>
  </mat-form-field>

  <mat-form-field MatFormFieldControl="password">
    <mat-label>Password</mat-label>
    <input
      matInput
      [type]="isPasswordVisible ? 'text' : 'password'"
      formControlName="password"
    />
    <mat-icon
      class="password_visibility"
      matSuffix
      (click)="isPasswordVisible = !isPasswordVisible"
      >{{ isPasswordVisible ? 'visibility_off' : 'visibility' }}</mat-icon
    >

    <mat-error
      *ngIf="
        loginForm.controls.password?.invalid &&
        (loginForm.controls.password?.dirty ||
          loginForm.controls.password?.touched)
      "
    >
      Password is required.
    </mat-error>
  </mat-form-field>

  <mat-error *ngIf="invalidCredentials"
    >The username or password you entered is incorrect.</mat-error
  >

  <div class="auth_actions">
    <span>Forgot password ?</span>
    <span>Register</span>
  </div>

  <button mat-flat-button type="submit">
    <mat-progress-spinner
      *ngIf="loading"
      class="white-spinner"
      diameter="20"
      mode="indeterminate"
    >
    </mat-progress-spinner>
    <span *ngIf="!loading">Login</span>
  </button>
</form>
