.login-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);
}

.top-card {
  .connect-info {
    color: var(--link-color);
    cursor: pointer;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);

  .password_visibility {
    cursor: pointer;
  }

  .auth_actions {
    display: flex;
    justify-content: space-between;
    margin-block: var(--margin-sm);
  }
}
