/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

p {
  margin: unset;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: whitesmoke;
}

.mat-mdc-form-field-error-wrapper {
  transform: translateX(-4%) !important;
}

.link {
  cursor: pointer;

  &:hover {
    color: var(--link-color);
    text-decoration: underline;
  }
}

:root {
  --link-color: #6495ed;

  --card-md: 31.25rem;

  --gap-sm: 0.5rem;
  --gap-lg: 2rem;

  --margin-sm: 0.5rem;

  @include mat.progress-spinner-overrides(
    (
      active-indicator-color: #ffffff,
    )
  );
}
